---
import logo from "../assets/logo_rep.webp"
import Navigation from './Navigation.astro';
import {dataNegocio} from '../data/negocio.ts'
---
<header class="bg-background text-white shadow-lg relative">
  <div class="container mx-auto px-4 py-6">
    <div class="flex items-center justify-between">
      <div class="flex items-center space-x-4">
        <div class="w-11 h-11 rounded-lg flex items-center justify-center">
          <img src={logo.src} alt="Logo" fetchpriority="high" class="w-11 h-11" />
        </div>
        <h1 class="text-2xl sm:text-3xl text-primary font-bold"><a href="/">{dataNegocio.name}</a></h1>
      </div>
      <Navigation />
    </div>
  </div>
</header>
